<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Suited Penguin - Index</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Euphoria+Script&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/estilsPropis.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="col-m" href="index.html">
                <img class="logo_img" src="assets/img/avatars/logo-i-text.png" />
            </a>
            <div class="col-m"><a class="btn btn-primary" type="button" href="login.html">Log in</a>
                <a class="btn btn-outline-primary" type="button" href="register.html">Register</a>
            </div>
        </div>
    </nav>


    <main class="page landing-page">
        <div id="carousel-2" class="carousel slide" data-bs-ride="carousel" style="height: 700px;">
            <div class="carousel-inner h-100">
                <div class="fixed_carousel">
                    <div class="interior_carousel">
                        <h2 class="titol">Suited penguin</h2>
                        <p>Viatja tranquil</p>
                        <p>A Suited Penguin ens preocupem per la teva comoditat
                            <br>T'ajudarem a preparar els teus viatges, orgranitzar-te la maleta, controlar els teus
                            armaris i <span class="destacat">molt més!</span>
                        </p>
                        <a class="btn btn-primary fs-5 py-2 px-4" role="button" href="register.html">Registra't</a>
                    </div>

                </div>
                <div class="carousel-item active h-100"><img class="imatges_carousel"
                        src="assets/img/scenery/landing-page1.jpg" alt="Slide Image" style="z-index: -1;" />
                </div>
                <div class="carousel-item h-100"><img class="imatges_carousel"
                        src="assets/img/scenery/landing-page2.jpg" alt="Slide Image" style="z-index: -1;" />

                </div>
                <div class="carousel-item h-100"><img class="imatges_carousel"
                        src="assets/img/scenery/landing-page3.jpg" alt="Slide Image" style="z-index: -1;" />

                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-bs-slide="prev"><span
                        class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
                    class="carousel-control-next" href="#carousel-2" role="button" data-bs-slide="next"><span
                        class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
                <li class="active" data-bs-target="#carousel-2" data-bs-slide-to="0"></li>
                <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-2" data-bs-slide-to="2"></li>
            </ol>
        </div>


        <section class="clean-block clean-info dark" id="index">
            <div class="container">
                <div
                    class="border rounded border-0 border-light d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
                    <div class="col-sm-8 pb-2 pb-lg-1">
                        <h2 class="titol">Genera una maleta ràpidament</h2>
                        <p>Introdueix a continuació la informació del teu viatge i et generarem una maleta!</p>
                        <p>A <span class="titol">Suited Penguin</span> ens preocupem de tot, tindrem en compte la
                            previsió metereològica del teu lloc de destí i molt més
                            per proposar-te la <span class="destacat">millor maleta possible</span></p>
                        <input type="search" placeholder="On viatjaràs?" v-model="desti">
                        <input type="date" id="anada" v-model="anada">
                        <input type="date" id="tornada" v-model="tornada">
                    </div>
                    <div class="col-sm-4 align-self-end my-2"><button v-on:click="envia()"
                            class="btn btn-primary fs-5 py-2 px-4" role="button" type="button">Maleta ràpida</button>
                    </div>
                </div>
            </div>
        </section>


        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/maleta.jpg" /></div>
                    <div class="col-md-6">
                        <h3 class="titol">Perd menys temps, organitza't <span class="destacat">millor</span></h3>
                        <div class="getting-started-info">
                            <p>El generador de maletes aleatòries de Suited Penguin et permet organitzar-te la maleta en
                                segons. Omplint els camps demanats, et generarà una combinació de peces de roba idònies
                                pel viatge.</p>
                        </div><a class="btn btn-outline-primary btn-lg" type="button" href="register.html">Crear una
                            maleta personalitzada</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">

                <div class="row align-items-center">

                    <div class="col-md-6">
                        <h3 class="titol">Controla les peces de roba dels diferents <span
                                class="destacat">armaris</span></h3>
                        <div class="getting-started-info">
                            <p>A Suited Penguin t'ajudem a no perdre la roba.<br>Pots crear diversos armaris i
                                emmagatzemar en cada un d'ells la roba que deses en
                                cada una de les residències. Així, tindràs control total sobre la localització de les
                                teves peces!</p>
                        </div><a class="btn btn-outline-primary btn-lg" type="button" href="register.html">Anar a
                            l'armari</a>
                    </div>
                    <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/roba.jpg" /></div>
                </div>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">

                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/outfit.jpg" /></div>
                    <div class="col-md-6">
                        <h3 class="titol">Crea <span class="destacat">outfits</span> per a cada ocasió</h3>
                        <div class="getting-started-info">
                            <p>Combina la roba dels teus armaris com més t'agradi! Crea els outfits que més t'agraden i
                                desa'ls amb Suited Penguin. A més, els podràs afegir a la teva maleta per dur els teus
                                looks arreu.</p>
                        </div><a class="btn btn-outline-primary btn-lg" type="button" href="register.html">Anar a
                            outfits</a>
                    </div>

                </div>
            </div>
        </section>

    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-4">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 mb-md-0 mb-4 text-center">
                            <a href="#">
                                <img style="max-width:75%;
                                max-height:75%;" class="logo_img" src="assets/img/avatars/logo_sensefons.png" />
                            </a>
                            <div class="row text-center">
                                <h1 class="titol-footer">Suited Penguin</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-lg-8">
                    <div class="row">
                        <div class="col-md-3 mb-md-0 mb-4 border-left">
                            <h5>Maleta</h5>
                            <ul class="list-unstyled">
                                <li><a href="register.html" class="py-1 d-block">Les meves maletes</a>
                                </li>
                                <li><a href="register.html" class="py-1 d-block">Crea una maleta</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 mb-md-0 mb-4 border-left">
                            <h5>Armari</h5>
                            <ul class="list-unstyled">
                                <li><a href="register.html" class="py-1 d-block">Els meus armaris</a></li>
                                <li><a href="register.html" class="py-1 d-block">Crea un armari</a></li>

                            </ul>
                        </div>
                        <div class="col-md-3 mb-md-0 mb-4 border-left">
                            <h5>Outfit</h5>
                            <ul class="list-unstyled">
                                <li><a href="register.html" class="py-1 d-block">Els meus outfits</a></li>
                                <li><a href="register.html" class="py-1 d-block">Crea un outfit</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 mb-md-0 mb-4 border-left">
                            <h5>Perfil</h5>
                            <ul class="list-unstyled">
                                <li><a href="register.html" class="py-1 d-block">El meu perfil</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Suited Penguin</p>
        </div>
    </footer>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>