<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Suited Penguin - Outfits</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Euphoria+Script&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/estilsPropis.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="assets\js\drag_drop.js" defer></script>
    <script>
        function allowDrop(ev) {
          ev.preventDefault();
        }
        
        function drag(ev) {
          ev.dataTransfer.setData("text", ev.target.id);
        }
        
        function drop(ev) {
          ev.preventDefault();
          var data = ev.dataTransfer.getData("text");
          ev.target.appendChild(document.getElementById(data));
        }
        </script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a href="landing_page.html">
                <img class="logo_img" src="assets/img/avatars/logo-i-text.png" />
            </a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div id="navcol-1" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="landing_page.html">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Maleta
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" href="llistar_maletes.html">Les meves maletes</a></li>
                            <li><a class="dropdown-item" href="maleta.html">Crear maleta</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="armari.html">Armari</a></li>
                    <li class="nav-item"><a class="nav-link active" href="outfit.html">Outfit</a></li>
                    <li class="nav-item"><a class="nav-link" href="perfil.html">Perfil</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section id="dragdrop">
            <div class="drag-el" v-for="item in cataleg" :key="item.title" draggable @dragstart="startDrag($event, item)">
                {{ item.title }}
            </div>


            <template>
            <div>
                <div class='drop-zone'>
                    <div v-for='item in cataleg' :key='item.title' class='drag-el'>
                        {{ item.title }}
                    </div>
                </div>
                <div class='drop-zone'>
                    <div v-for='item in maniqui' :key='item.title' class='drag-el'>
                        {{ item.title }}
                    </div>
                </div>
            </div>
        </template>
        <div style="background-image: url(assets/img/avatars/Stick.png); height: 300px; width: 250px;">
        
           <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="border: 2px solid black; text-align: center; height: 100px; width: 100px;">
               
           </div>
           

        </div>
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" style="border: 2px solid black; text-align: center;  height: 100px; width: 100px;">
            <img id="drag1" src="assets/img/clothes/t-shirt.png" draggable="true" ondragstart="drag(event)" style="width :100%; height: auto;">
        </div>
        
        
        </section>
        




    </main>
    <footer class=" page-footer dark ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-3 ">
                    <h5>Maleta</h5>
                    <ul>
                        <li><a href="llistar_maletes.html ">Les meves maletes</a></li>
                        <li><a href="maleta.html ">Crea una maleta</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h5>Armari</h5>
                    <ul>
                        <li><a href="armari.html ">Els meus armaris</a></li>
                        <li><a href="# ">Crea un armari</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h5>Outfits</h5>
                    <ul>
                        <li><a href="outfit.html ">Els meus outfits</a></li>
                        <li><a href="# ">Crea un outfit</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 ">
                    <h5>Perfil</h5>
                    <ul>
                        <li><a href="# ">El meu perfil</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright ">
            <p>© 2022 Suited Penguin</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js "></script>
    <script src="assets/js/vanilla-zoom.js "></script>
    <script src="assets/js/theme.js "></script>
</body>

</html>