.titol {
  font-family: 'Abril Fatface';
}

.destacat {
  font-family: 'Euphoria Script';
  color: rgb(74, 108, 47);
}

.logo_img {
  max-inline-size: 150px;
}

.prova{
  box-shadow: 0px 0px 15px rgba(0,0,0);
}
